{{define "nav"}}
<script>
  const logoSVG = document.getElementById("sample_logo").innerHTML;
  const toolbarData = [
    {
      type: "customHTML",
      html: logoSVG,
      css: "logo-container"
    },
    {
      type: "customHTML",
      html: "Greenlight",
      css: "application-title"
    },
    {
      type: "spacer"
    },
    {
      id: "home",
      icon: "fa-solid fa-house",
      type: "button",
      view: "link",
      color: "secondary",
      circle: true,
    },
    {
      id: "settings",
      icon: "fa-solid fa-gear",
      type: "button",
      view: "link",
      color: "secondary",
      circle: true,
    },
    {
      id: "info",
      icon: "fa-solid fa-circle-info",
      type: "button",
      view: "link",
      color: "secondary",
      circle: true,
    },
    {
      id: "avatar",
      type: "imageButton",
      src: "static/assets/images/avatar_02.jpeg"
    },
    {
      type: "title",
      value: "Werz, Andreas"
    }
  ];
</script>
{{end}}
