{{define "subject"}}Welcome to Greenlight!{{end}}

{{define "plainBody"}}
Thanks for signing up for a Greenlight account. We're excited to have you on board!

Please send a request to the `PUT /user/activate` endpoint with the following JSON
body to activate your account:

{{.activationToken}}

Please note that this is a one-time use token and it will expire in 3 days.

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>Thanks for signing up for a Greenlight account. We're excited to have you on board!</p>
  <p>Please send a request to the <code>PUT /user/activate</code> endpoint with the following JSON
    body to activate your account:</p>
  <pre><code>
      {{.activationToken}}
    </code></pre>
  <p>
    Please note that this is a one-time use token and it will expire in 3 days.
  </p>
  <p>Thanks,</p>
  <p>The Greenlight Team</p>
</body>

</html>
{{end}}
